<div class="row">
  <div class="col-xs-8 col-xs-offset-2 weatherDiv">
    <div class="row">
      <div class="col-sm-12">
        <img src="http://www.omgubuntu.co.uk/wp-content/uploads/2013/12/Flat-Weather-Icon-Set.png" class="img-responsive defaultWeather">
      </div>
      <div class="col-sm-12">
        <p>Temperature(K): {{main.temp}}</p>
        {{#each weather as |Weather|}}
        <p>Conditions: {{Weather.main}}</p>
        {{/each}}
        <p>Air Pressure: {{main.pressure}}</p>
        <p>Wind Speed: {{wind.speed}}</p>
      </div>
    </div>
    <button class="btn btn-defualt" cityID="{{city.id}}" id='saveButton{{city.id}}'>Save Weather Info</button>
  </div>
</div>
