<div class="row weatherDiv">
  <h2>7 Day Forecast for {{city.name}}</h2>
  {{#each list}}
  <div class="col-sm-2">
    <h4>{{day}}</h4>
    <img src="http://www.omgubuntu.co.uk/wp-content/uploads/2013/12/Flat-Weather-Icon-Set.png" class="img-responsive defaultWeather">
    <p>Day Temperature: {{temp.day}}</p>
    <p>Night Temperature: {{temp.night}}</p>
    {{#each weather as |Weather|}}
    <p>Conditions: {{Weather.main}}</p>
    {{/each}}
    <p>Air Pressure: {{pressure}}</p>
    <p>Wind Speed: {{speed}}</p>
    {{!-- <button class="btn btn-defualt" cityID="{{city.id}}" id='saveButton'>Save Weather Info</button> --}}
  </div>
  {{/each}}
</div>

